.delete-modal__text {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.delete-modal__btn {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  cursor: pointer;
}

.delete-modal__btn_delete {
  color: rgba(255, 77, 0, 1);
  margin-top: 88px;
  margin-bottom: 24px;
}
