.profile {
  display: flex;
  gap: 116px;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 47px;
  flex-grow: 1;
}

@media screen and (max-width: 650px) {
  .profile {
    flex-direction: column;
    gap: 20px;
  }
}
