.header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  max-width: 1440px;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-top: 32px;
  cursor: pointer;
}

.header__logo_menu_opened {
  visibility: hidden;
}

.header__date {
  margin: 43px 0 0 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.header__date_menu_opened {
  visibility: hidden;
}

.header__nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.header__signup-btn {
  margin: 0 8px 0 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  border: none;
  background: none;
  cursor: pointer;
}

.header__login-btn {
  margin: 0 8px 0 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  border: none;
  background: none;
  cursor: pointer;
}

.header__add-btn {
  margin: 0 8px 0 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  border: none;
  background: none;
  cursor: pointer;
}

.header__name {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 999;
}

@media screen and (max-width: 650px) {
  .header {
    display: block;
    height: 118px;
    position: relative;
  }

  .header__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
    /* So the buttons work in the mobile nav container */
    height: 1px;
    max-width: 375px;
  }

  .header__logo {
    margin-top: 18px;
  }

  .header__date {
    margin: 0;
  }

  .header__nav-bar {
    visibility: hidden;
    gap: 0;
  }
}
