.item-modal__img {
  max-width: 498px;
  width: 100%;
  max-height: 498px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.item-modal__items {
  position: relative;
}

.item-modal__btn-delete {
  border: none;
  background: none;
  color: rgba(255, 77, 0, 1);
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 34px;
  cursor: pointer;
}

.item-modal__name {
  margin: 20px 0 12px 32px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.item-modal__weather {
  margin: 0 0 32px 32px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}
