.modal__btn-close_type_item-modal {
  background-image: url(../../assets/close_btn_trans.svg);
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 28px;
  cursor: pointer;
}

.item__modal-img {
  max-width: 498px;
  width: 100%;
  max-height: 498px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.item__modal-item {
  margin: 20px 0 12px 32px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.item__modal-weather {
  margin: 0 0 32px 32px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}
