.avatar {
  width: 40px;
  height: 40px;
  border: 1px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.avatar__placeholder {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
