.clothing-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.clothing-section__message {
  padding-top: 250px;
}

.clothing-section__btn-container {
  display: flex;
  gap: 20px;
}

.clothing-section__text {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  margin: 16px 0;
}

.clothing-section__add-btn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.clothing-section__clothing-list {
  max-width: 1015px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}
